.container {
  position: fixed;
  top: 75px;
  margin-left: 45px;
  width: 376px;
  z-index: 3;
  font-family: 'Cabin', sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  display: block;
}

.component {
  margin: 10px 10px;
}

.dates {
  margin-left: 10px;
}

.menu {
  width: 100%;
}

.button {
  margin-top: 10px;
  cursor: pointer;
  transition:  background 0.2s, border-color 0.2s;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 19px;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  padding-right: 24px;
  padding-left: 24px;
  min-width: 77.66px;
  background: #FF5A5F;
  border-color: transparent;
}

